@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "nova";
  src: url("../../public/fonts/._UnivaNova-Bold.ttf");
  src: url("../../public/fonts/._UnivaNova-Hairline.ttf");
  src: url("../../public/fonts/._UnivaNova-Heavy.ttf");
  src: url("../../public/fonts/._UnivaNova-Light.ttf");
  src: url("../../public/fonts/._UnivaNova-Regular.ttf");
  src: url("../../public/fonts/._UnivaNova-SemiBold.ttf");
  src: url("../../public/fonts/._UnivaNova-Thin.ttf");
  src: url("../../public/fonts/._UnivaNova-Italic.ttf");

  font-weight: 400;
  font-style: normal;
}

.border2 {
  border: 1px solid red;
}

.p_r {
  padding-right: 36px;
  padding-left: 36px;
}

.nova {
  font-family: nova, sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
.hand_bg {
  background-image: url(../../public/home/hand_bg.webp);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.before_client_logo {
  background-image: url(../../public/home/before_logo.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home_about {
  background-image: url(../../public/home/about.webp);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* for the about section */

.home_about_left {
  animation-name: home_left;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  transition: 3s ease;
}
.home_about_right {
  animation-name: home_right;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition: 3s ease;
  translate: 0px -1190px;
}

@keyframes home_left {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 0px -1190px;
  }
  100% {
    translate: 0px 0px;
  }
}
@keyframes home_right {
  0% {
    translate: 0px -1190px;
  }
  50% {
    translate: 0px 0px;
  }
  100% {
    translate: 0px -1190px;
  }
}
/* .home_service {
  background-image: url(../../public/home/home_service.webp);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
} */

/* *************SERVICES PAGE ******* */
.method_bg {
  background-image: url(../../public/services/method.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero_bg {
  background-image: url(../../public/services/hero.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.blend {
  mix-blend-mode: hard-light;
}

.simple_bg {
  background-image: url(../../public/services/simple.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.laptop_footer_bg {
  background-image: url(../../public/services/laptop_footer.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.timeline_right {
  background-image: url(../../public/services/timeline_mak.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.timeline_top {
  background-image: url(../../public/services/timeline_top.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.port_text {
  font-size: 30px;
  font-weight: bold;
}

.port_wrap {
  transition: 0.4s ease-in;
  border: 1px solid black;
}
.port_wrap:hover {
  background-color: black;
}
.port_first_text {
  color: #7f7f7f;
  font-family: nova;
  font-size: 16px;
}
.port_wrap:hover .port_text {
  color: white;
}
.port_ctn {
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  height: 40px;
  width: 40px;
}
.port_wrap:hover .port_ctn {
  border: 2px solid white;
}
